 __Statistical Analysis with Statistical Tests with Employee Attrition Data__
 
 - Mannwhitneyu Test
 
 - 2 - Sample Independent t-test
 
 - Chi - Square Test

# Importing Libraries

In [1]:
# import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from warnings import filterwarnings
filterwarnings('ignore')

In C:\Users\vishal\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\vishal\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\vishal\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\vishal\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\vishal\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\vishal\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\vishal\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\vishal\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
# Read the dataset in Jupyter Notebook
data1=pd.read_csv('general_data.csv')

data1.head()      # Checking Data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
data1.tail()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [4]:
data1.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
Age                        4410 non-null int64
Attrition                  4410 non-null object
BusinessTravel             4410 non-null object
Department                 4410 non-null object
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
EducationField             4410 non-null object
EmployeeCount              4410 non-null int64
EmployeeID                 4410 non-null int64
Gender                     4410 non-null object
JobLevel                   4410 non-null int64
JobRole                    4410 non-null object
MaritalStatus              4410 non-null object
MonthlyIncome              4410 non-null int64
NumCompaniesWorked         4391 non-null float64
Over18                     4410 non-null object
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TotalWorkingYears          4401 non-null float64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [6]:
data1.size

105840

In [7]:
data1.shape

(4410, 24)

# Missing Values Treatment

In [8]:
data1.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [9]:
data1.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

## Finding Duplicates

In [10]:
data1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4405    False
4406    False
4407    False
4408    False
4409    False
Length: 4410, dtype: bool

## Dropping Duplicate Values

In [11]:
data1.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

# Splitting Dataset into 'attrition_yes' & 'attrition_no'

In [12]:
attrition_yes = data1[data1["Attrition"] == 'Yes' ]
attrition_no = data1[data1["Attrition"] == 'No' ]

In [13]:
attrition_yes.shape

(711, 24)

In [14]:
attrition_no.shape

(3699, 24)

In [15]:
data1.shape

(4410, 24)

In [16]:
attrition_yes.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [17]:
attrition_no.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

__________________

# Applying Mannwhitneyu Test

- __Attrition vs Age__

In [20]:
from scipy.stats import mannwhitneyu
stats, p = mannwhitneyu(attrition_yes.Age, attrition_no.Age)

print("Critical Value is:{},  And   P-Value is:{} ".format(stats, p))

Critical Value is:961731.0,  And   P-Value is:2.9951588479067175e-30

__Hypothesis:__
    
H0 = There is No significant difference between the mean Age of employees who left the company and stayed in the company

H1 = There is significant difference between the mean Age of employees who left the company and stayed in the company

- __Attrition vs Monthly Income__

In [22]:
stats, p = mannwhitneyu(attrition_yes.MonthlyIncome, attrition_no.MonthlyIncome)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1264900.5,  And    P-Value is:0.053577283839938566

- __Attrition vs Years At Company__

In [23]:
stats, p = mannwhitneyu(attrition_yes.YearsAtCompany, attrition_no.YearsAtCompany)

print("Critical Value is:{},  And     P-Value is:{} ".format(stats, p))

Critical Value is:923238.0,  And     P-Value is:6.047598261692858e-37

- __Attrition vs Total Working Years__

In [25]:
stats, p = mannwhitneyu(attrition_yes.TotalWorkingYears, attrition_no.TotalWorkingYears)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:909954.0,  And    P-Value is:2.8897554531400447e-39

- __Attrition vs Years With Current Manager__

In [26]:
stats, p = mannwhitneyu(attrition_yes.YearsWithCurrManager, attrition_no.YearsWithCurrManager)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:957253.5,  And    P-Value is:1.2365483142169853e-31

- __Attrition vs Distance From Home__

In [27]:
stats, p = mannwhitneyu(attrition_yes.DistanceFromHome, attrition_no.DistanceFromHome)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1312110.0,  And    P-Value is:0.4629185205822659

- __Attrition vs Business Travel__

In [28]:
stats, p = mannwhitneyu(attrition_yes.BusinessTravel, attrition_no.BusinessTravel)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1266192.0,  And    P-Value is:0.024442388462694316

- __Attrition vs Department__

In [30]:
stats, p = mannwhitneyu(attrition_yes.Department, attrition_no.Department)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1243183.5,  And    P-Value is:0.0027584840572994446

- __Attrition vs Education__

In [31]:
stats, p = mannwhitneyu(attrition_yes.Education, attrition_no.Education)

print("Critical Value is:{},  And   P-Value is:{} ".format(stats, p))

Critical Value is:1280146.5,  And   P-Value is:0.12035477215449608

- __Attrition vs Training Times Last Year__

In [32]:
stats, p = mannwhitneyu(attrition_yes.TrainingTimesLastYear, attrition_no.TrainingTimesLastYear)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1238940.0,  And    P-Value is:0.005167954938699059

- __Attrition vs Education Field__

In [33]:
stats, p = mannwhitneyu(attrition_yes.EducationField, attrition_no.EducationField)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1206328.5,  And    P-Value is:0.0001114613326946958

- __Attrition vs Gender__

In [34]:
stats, p = mannwhitneyu(attrition_yes.Gender, attrition_no.Gender)

print("Critical Value is:{},  And   P-Value is:{} ".format(stats, p))

Critical Value is:1283242.5,  And   P-Value is:0.11439304195948907

- __Attrition vs Job Level__

In [35]:
stats, p = mannwhitneyu(attrition_yes.JobLevel, attrition_no.JobLevel)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1309131.0,  And    P-Value is:0.4211326530832555

- __Attrition vs Job Role__

In [36]:
stats, p = mannwhitneyu(attrition_yes.JobRole, attrition_no.JobRole)

print("Critical Value is:{},  And   P-Value is:{} ".format(stats, p))

Critical Value is:1271367.0,  And   P-Value is:0.07748676434031176

- __Attrition vs Marital Status__

In [37]:
stats, p = mannwhitneyu(attrition_yes.MaritalStatus, attrition_no.MaritalStatus)

print("Critical Value is:{},  And   P-Value is:{} ".format(stats, p))

Critical Value is:998784.0,  And   P-Value is:2.834595383665665e-28

- __Attrition vs Number of Companies Worked__

In [38]:
stats, p = mannwhitneyu(attrition_yes.NumCompaniesWorked, attrition_no.NumCompaniesWorked)

print("Critical Value is:{},  And   P-Value is:{} ".format(stats, p))

Critical Value is:1255531.5,  And   P-Value is:0.02488087998120482

- __Attrition vs Percent Salary Hike__

In [ ]:
stats, p = mannwhitneyu(atttrition_yes.PercentSalaryHike, attrition_no.PercentSalaryHike)

print("Critical Value is:{},  And P-Value is:{} ".format(stats, p))

- __Attrition vs Stock Option Level__

In [39]:
stats, p = mannwhitneyu(attrition_yes.StockOptionLevel, attrition_no.StockOptionLevel)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1296846.0,  And    P-Value is:0.2636805975678432

- __Attrition vs Years Since Last Promotion__

In [40]:
stats, p = mannwhitneyu(attrition_yes.YearsSinceLastPromotion, attrition_no.YearsSinceLastPromotion)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

__Conclusion:__

We come to know about the following things, After applying Mannwhitneyu Test:

- There is No Significant Difference in - DistanceFromHome, Education, Gender, JobLevel, JobRole, MaritalStatus, StockOptionLevel between attrition_yes and attrition_no as its p-value > 0.05

- Hence,  Null Hypothesis is accepted and Alternative Hypothesis is rejected

- Remaining all the columns have p-value < 0.05

- Hence, Null hypothesis is rejected and Alternative Hypothesis is accepted (i.e. There is Significant Difference )

___________________

_________________________

# Applying Two Sample Independent t-test

H0 : There is No Significant Difference in between Attrition(Yes) and Attrition(No) Columns

H1 : There is Significant Difference in between Attrition(Yes) and Attrition(No) Columns

- __Attrition vs Age__

In [41]:
from scipy.stats import ttest_ind
ttest_ind(attrition_yes.Age, attrition_no.Age)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

* p-value=1.9968016158894556e-26
* p-value is 1.99 > 0.05
* It shows strongly positive correlation between the mean Age of employees who left the company and stayed in the company
* In this case, H0 i.e. Null Hypothesis is Rejected and H1 i.e. Alternative hypothesis is Accepted.
* Hence, We can say that - "There is significant difference between the mean Age of employees who left the company and stayed in the company"

__Hypothesis:__
    
H0 = There is No significant difference between the Distance from home of employees who left the company and stayed in the company

H1 = There is significant difference between the Distance from home of employees who left the company and stayed in the company

- __Attrition vs Distance From Home__

In [43]:
ttest_ind(attrition_yes.DistanceFromHome, attrition_no.DistanceFromHome)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Total Working Years__

In [44]:
ttest_ind(attrition_yes.TotalWorkingYears, attrition_no.TotalWorkingYears)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs MonthlyIncome__

In [45]:
ttest_ind(attrition_yes.MonthlyIncome, attrition_no.MonthlyIncome)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Stock Option Level__

In [46]:
ttest_ind(attrition_yes.StockOptionLevel, attrition_no.StockOptionLevel)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Total Working Years__

In [47]:
ttest_ind(attrition_yes.TotalWorkingYears, attrition_no.TotalWorkingYears)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Years With Current Manager__

In [48]:
ttest_ind(attrition_yes.YearsWithCurrManager, attrition_no.YearsWithCurrManager)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Years At Company__

In [49]:
ttest_ind(attrition_yes.YearsAtCompany, attrition_no.YearsAtCompany)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Education__

In [50]:
ttest_ind(attrition_yes.Education, attrition_no.Education)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Job Level__

In [52]:
ttest_ind(attrition_yes.JobLevel, attrition_no.JobLevel)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Number of Companies Worked__

In [51]:
ttest_ind(attrition_yes.NumCompaniesWorked, attrition_no.NumCompaniesWorked)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Training Times Last Year__

In [ ]:
ttest_ind(atttrition_yes.TrainingTimesLastYear, attrition_no.TrainingTimesLastYear)

print("Critical Value is:{},  And P-Value is:{} ".format(stats, p))

- __Attrition vs PercentSalaryHike__

In [53]:
ttest_ind(attrition_yes.PercentSalaryHike, attrition_no.PercentSalaryHike)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

- __Attrition vs Years Since Last Promotion__

In [54]:
ttest_ind(attrition_yes.YearsSinceLastPromotion, attrition_no.YearsSinceLastPromotion)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1209366.0,  And    P-Value is:0.0002021180346719736

__Conclusion:__

We come to know about the following things, After Applying Mannwhitneyu Test:

- There is No Significant Difference in DistanceFromHome, Education, Employee ID ,NumCompaniesWorked, StockOptionLevel, TotalWorkingYears between Attrition(Yes) and Attrition(No) as its p value > 0.05 ,

- Hence, the Null Hypothesis is accepted and Alternative Hypothesis is rejected.

- Rest all the columns have p value < 0.05

- Hence, The Null hypothesis is rejected and Alternative Hypothesis is accepted ( There is Significant Difference )

____

_______________

# Applying Chi_Square Test

In [55]:
from scipy.stats import chi2_contingency

- __Attrition Vs Department__

H0 : There is No Significant Difference in Department and Attrition

H1 : There is Significant Difference in Department and Attrition

In [57]:
chi_table = pd.crosstab(data1.Attrition, data1.Department)
chi_table

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2430   1137
Yes                      57                     453    201

In [59]:
stats,p,dof,expected = chi2_contingency(chi_table)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:29.090274924488266,  And    P-Value is:4.820888218170406e-07

- p-value < 0.05
- Hence, Null hypothesis is rejected and Alternative hypothesis is accepted 
- i.e. There is Significant Difference in Department and Attrition

_________________

- __Attrition vs Business Travel__


H0 : There is No Significant Difference in Business Travel and Attrition

H1 : There is Significant Difference in Business Travel and Attrition

In [60]:
chi_table1 = pd.crosstab(data1.Attrition, data1.BusinessTravel)
chi_table1

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     414                624           2661
Yes                     36                207            468

In [61]:
stats,p,dof,expected = chi2_contingency(chi_table1)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:72.54724105696552,  And    P-Value is:1.764276972983189e-16

__________________

- __Attrition vs Education Field__

H0 : There is No Significant Difference in Education Field and Attrition

H1 : There is Significant Difference in Education Field and Attrition

In [62]:
chi_table2 = pd.crosstab(data1.Attrition, data1.EducationField)
chi_table2

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1515,402,1167,216,351
Yes,33,303,75,225,30,45

In [69]:
stats,p,dof,expected = chi2_contingency(chi_table2)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:46.194921001730584,  And    P-Value is:8.288917469574179e-09

- p-value < 0.05 ,
- Hence, Null hypothesis is rejected and Alternative hypothesis is accepted
- i.e. There is Significant Difference in Education Field and Attrition

______________

- __Attrition vs Gender__

H0 : There is No Significant Difference in Gender and Attrition

H1 : There is Significant Difference in Gender and Attrition

In [63]:
chi_table3 = pd.crosstab(data1.Attrition, data1.Gender)
chi_table3

Gender     Female  Male
Attrition
No           1494  2205
Yes           270   441

In [64]:
stats,p,dof,expected = chi2_contingency(chi_table3)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:1.349904410246582,  And    P-Value is:0.24529482862926827

- p-value > 0.05
- Hence, Null hypothesis is accepted and Alternative hypothesis is rejected
- i.e. There is No Significant Difference in Gender and Attrition

________________

- __Attrition vs Job Role__

H0 : There is No Significant Difference in Job Role and Attrition

H1 : There is Significant Difference in Job Role and Attrition

In [65]:
chi_table4 = pd.crosstab(data1.Attrition, data1.JobRole)
chi_table4

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
Attrition,,,,,,,,,
No,336,135,651,264,387,183,717,813,213
Yes,57,21,126,42,48,57,159,165,36

In [66]:
stats,p,dof,expected = chi2_contingency(chi_table4)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:25.116313674604072,  And    P-Value is:0.001485544744815264

- p-value < 0.05 
- Hence, Null hypothesis is rejected and Alternative hypothesis is accepted 
- i.e. There is Significant Difference in Job Role and Attrition

_____

- __Attrition vs Marital Status__

H0 : There is No Significant Difference in Marital Status and Attrition

H1 : There is Significant Difference in Marital Status and Attrition

In [67]:
chi_table5 = pd.crosstab(data1.Attrition, data1.MaritalStatus)
chi_table5

MaritalStatus  Divorced  Married  Single
Attrition
No                  882     1767    1050
Yes                  99      252     360

In [68]:
stats,p,dof,expected = chi2_contingency(chi_table5)

print("Critical Value is:{},  And    P-Value is:{} ".format(stats, p))

Critical Value is:138.49102962254608,  And    P-Value is:8.45385940605786e-31

- p-value < 0.05
- Hence, Null hypothesis is rejected and Alternative hypothesis is accepted 
- i.e. There is Significant Difference in MaritalStatus and Attrition

_______________________