# Assignment Day 6 | 14th July 2020

## Question 1:
    
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.

Output Format:
Print the company name in single line.

Example;
Input:
john@google.com

Output:
google

In [1]:
a = input()
x =a.index("@")
print(a[x+1:len(a)-4], end='')

games@google.com
google

_______________

## Question 2:

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

__Input Format:__
The first line of input contains words separated by the comma.

__Output Format:__
Print the sorted words separated by the comma.


__Example:__

___Input:___
without,hello,bag,world

___Output:___
bag,hello,without,world

In [4]:
# Solution 1:

a = input().split(',')
l = list(a)
l1 = len(l)

y = sorted(l)
l = y

for i in range (l1):
    if i == l1-1:
        print(l[i],end="")
    else:
        print(l[i],end=",")

without,hello,bag,world,sky
bag,hello,sky,without,world

In [3]:
# Solution 2:

a = [x for x in input("Enter the data to sort: ").split(',')]
a.sort()
print("Sorted data is: ",','.join(a))

Enter the data to sort: ML,DL,DS,NLP,CNN,Math,stats,AI
Sorted data is:  AI,CNN,DL,DS,ML,Math,NLP,stats

In [2]:
# Solution 3:
a=input("enter words, comma separated here: ")
a=a.split(",")
a=sorted(a)
print (",".join(a))

enter words, comma separated here: cat,rat,bat,mat,jet,airplane,helicopter,train,boat,criuse
airplane,bat,boat,cat,criuse,helicopter,jet,mat,rat,train

___________________

## Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

__Input Format:__
The first line contains n-1 numbers with each number separated by a space.

__Output Format:__
Print the missing number

__Example:__
    
___Input:___ 1 2 4 6 3 7 8

___Output:___ 5
    


__Explanation:__
In the above list of numbers 5 is missing and hence 5 is the input

Solution:

In [35]:
# getMissingNo takes list as argument 


A = [3, 2, 4, 6, 1]      # input

def get_missing_number(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total - sum_of_A 

miss_no = get_missing_number(A) 
print(miss_no)

5.0

_________________________

## Question 5:    
    
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.


__Example:__
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

__Explanation:__
Third, seventh and ninth element of the list L has been removed because it was already present.

__Input Format:__
In one line take the elements of the list L with each element separated by a space.

__Output Format:__
Print the elements of the modified list in one line with each element separated by a space.

__Example:__
Input: 12 24 35 24
Output: 12 24 35

In [4]:
# Solution:

    
L=[12,24,35,24,88,120,155,88,120,155]    

def remove_duplicates(L):
    new_list=[]
    seen = set()
    for item in L:
        if item not in seen:
            seen.add( item )
            new_list.append(item)

    return new_list


print(remove_duplicates(L))

[12, 24, 35, 88, 120, 155]

__________________________

# Question 3:
    
Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

Solution:

# Set in Python

A set is a collection of elements which is unordered and unindexed. In Python sets are written with curly { } brackets.

In [1]:
# 1. Empty set
s={}
s

{}

In [2]:
# 2. Creating Set
s={"AI", "ML", "DS", "DL"}
s

{'AI', 'DL', 'DS', 'ML'}

In [7]:
# 3. Accessing Elements of Set

# A
s1={"AI", "ML", "DL"}

for x in s1:
    print(s1)

{'AI', 'ML', 'DL'}
{'AI', 'ML', 'DL'}
{'AI', 'ML', 'DL'}

In [8]:
# B
s={"AI", "ML", "DS", "DL"}

print("ML" in s)

True

In [10]:
# 4. Change an elements in set

# a. Add() - to add element in set

s1={"AI", "ML", "DL"}

s1.add("Data Science")

print(s1)

{'AI', 'ML', 'DL', 'Data Science'}

In [11]:
# b. Update() - to add more than 1 elements in set

s1={"AI", "ML", "DL"}
s1.update(["Data Science", "NLP", "Stistics" ])

print(s1)

{'Data Science', 'ML', 'Stistics', 'NLP', 'AI', 'DL'}

In [12]:
# 5. len() - to determine how many item a set has

S1 = {'Data Science', 'ML', 'Stistics', 'NLP', 'AI', 'DL'}

print(len(S1))

6

In [15]:
# 6. Removing Items From Set - remove(), discard(), pop(), clear(), del() are used.

# a. remove()

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

S1.remove("Statistics")

print(S1)

{'Data Science', 'ML', 'NLP', 'AI', 'DL'}

In [18]:
# b. discard()

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

S1.discard("Data Science")

print(S1)

{'Statistics', 'ML', 'NLP', 'AI', 'DL'}

In [20]:
# c. pop()

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

a = S1.pop()

print(a)
print(S1)

Statistics
{'Data Science', 'ML', 'NLP', 'AI', 'DL'}

In [21]:
# d. clear()


S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

S1.clear()

print(S1)

set()

In [22]:
# e. del()

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

del S1

print(S1)


# shows error as S1 is deleted

NameError: name 'S1' is not defined

In [23]:
# 7. Joining two sets

# a. union() 

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}
S2 = {"Coffee", "Tea", "Juice"}

S3 = S1.union(S2)
print(S3)

{'Juice', 'Statistics', 'Data Science', 'Tea', 'ML', 'Coffee', 'NLP', 'AI', 'DL'}

In [24]:
# b. update()


S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}
S2 = {"Coffee", "Tea", "Juice"}

S1.update('S2')
print(s1)

{'Data Science', 'ML', 'Stistics', 'NLP', 'AI', 'DL'}

In [1]:
# 8. The set() Constructor

# set() - is used make set


S2 = set(("Coffee", "Tea", "Juice"))

print(S2)

{'Juice', 'Coffee', 'Tea'}

In [2]:
# 9. copy() - used to copy the set.

S1={'Juice', 'Coffee', 'Tea'}

x = S1.copy()
print (x)

{'Juice', 'Coffee', 'Tea'}

In [4]:
# 10. difference() - Return a set that contains the items that only exist in set 1, and not in set 2

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.difference(S2)
print(x)

{'Coffee', 'Tea'}

In [5]:
# 11. difference_update() - removes the items that exist in both sets.

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

S1.difference_update(S2)
print(S1)

{'Coffee'}

In [6]:
# 12. Intersection method 
# a. intersection() - Return a set that contains the items that exist in both sets

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.intersection(S2)
print(x)

{'Juice', 'Tea'}

In [7]:
# b. intersection_update() - Remove the items that is not present in both sets

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

S1.intersection_update(S2)
print(S1)

{'Juice', 'Tea'}

In [9]:
# c. isdisjoint() - Returns whether two sets have a intersection or not.
                # (i.e. Return True if no items in set 1 is present in set 2)

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.isdisjoint(S2)
print(x)    

# -----------------------------------------------------------------

A = {"apple", "banana", "cherry"}
B = {"google", "microsoft", "facebook"}

C = A.isdisjoint(B) 

print(C)

False
True

In [10]:
# 13. issubset() -  returns True if all items in the set exists in the specified set, otherwise it retuns False.
#                   Return True if all items set x are present in set y

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.issubset(S2)
print(x) 


# --------------------------------------

A = {"apple", "banana", "cherry"}
B = {"google","apple","apple", "microsoft", "banana","facebook", "cherry"}

C = A.issubset(B) 

print(C)

False
True

In [12]:
# 14. issuperset() - returns True if all items in the specified set exists in the original set, otherwise it retuns False.
                   # (i.e. Return True if all items set 2 are present in set 1)

A = {"google","apple","apple", "microsoft", "banana","facebook", "cherry"}
B = {"apple", "banana", "cherry"}

C = A.issuperset(B) 

print(C)


# -------------------------------------

S1={'apple', 'banana', 'orange', 'Juice', 'Tea'}
S2={'Juice', 'Coffee', 'Tea'}

x=S1.issuperset(S2)
print(x)

True
False

In [13]:
# 15. symmetric_difference() method

# a. symmetric_difference() - returns a set that contains all items from both set, but not the items that are present in both sets.
#                             (i.e.The returned set contains a mix of items that are not present in both sets.) 

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.symmetric_difference(S2)
print(x)    

# -----------------------------------------------------------------

A = {"apple", "banana", "cherry"}
B = {"google", "microsoft", "facebook"}

C = A.symmetric_difference(B) 

print(C)

{'Coffee', 'apple', 'banana', 'orange'}
{'cherry', 'google', 'apple', 'microsoft', 'facebook', 'banana'}

In [18]:
# b. symmetric_difference_update()- updates the original set by removing items that are present in both sets, and inserting the other items.
#                     (i.e. Remove the items that are present in both sets, AND insert the items that is not present in both sets)

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

S1.symmetric_difference_update(S2)
print(S1)    

# -----------------------------------------------------------------

A = {"apple", "banana", "cherry"}
B = {"google", "banana", "microsoft", "facebook", "apple"}

A.symmetric_difference_update(B) 

print(A)

{'apple', 'orange', 'Coffee', 'banana'}
{'cherry', 'google', 'microsoft', 'facebook'}

____________________

End