 # Set in Python

A set is a collection of elements which is unordered and unindexed. In Python sets are written with curly { } brackets.

In [1]:
# 1. Empty set
s={}
s

{}

In [2]:
# 2. Creating Set
s={"AI", "ML", "DS", "DL"}
s

{'AI', 'DL', 'DS', 'ML'}

In [3]:
# 3. Accessing Elements of Set

# A
s1={"AI", "ML", "DL"}

for x in s1:
    print(s1)

{'DL', 'ML', 'AI'}
{'DL', 'ML', 'AI'}
{'DL', 'ML', 'AI'}

In [4]:
# B
s={"AI", "ML", "DS", "DL"}

print("ML" in s)

True

In [5]:
# 4. Change an elements in set

# a. Add() - to add element in set

s1={"AI", "ML", "DL"}

s1.add("Data Science")

print(s1)

{'Data Science', 'DL', 'ML', 'AI'}

In [6]:
# b. Update() - to add more than 1 elements in set

s1={"AI", "ML", "DL"}
s1.update(["Data Science", "NLP", "Stistics" ])

print(s1)

{'AI', 'NLP', 'Stistics', 'ML', 'DL', 'Data Science'}

In [7]:
# 5. len() - to determine how many item a set has

S1 = {'Data Science', 'ML', 'Stistics', 'NLP', 'AI', 'DL'}

print(len(S1))

6

In [8]:
# 6. Removing Items From Set - remove(), discard(), pop(), clear(), del() are used.

# a. remove()

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

S1.remove("Statistics")

print(S1)

{'AI', 'NLP', 'ML', 'DL', 'Data Science'}

In [9]:
# b. discard()

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

S1.discard("Data Science")

print(S1)

{'AI', 'Statistics', 'NLP', 'ML', 'DL'}

In [10]:
# c. pop()

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

a = S1.pop()

print(a)
print(S1)

AI
{'Statistics', 'NLP', 'ML', 'DL', 'Data Science'}

In [11]:
# d. clear()


S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

S1.clear()

print(S1)

set()

In [12]:
# e. del()

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}

del S1

print(S1)

# shows error as S1 is deleted

NameError: name 'S1' is not defined

In [13]:
# 7. Joining two sets

# a. union() 

S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}
S2 = {"Coffee", "Tea", "Juice"}

S3 = S1.union(S2)
print(S3)

{'Coffee', 'Statistics', 'AI', 'Tea', 'Juice', 'NLP', 'ML', 'DL', 'Data Science'}

In [14]:
# b. update()


S1 = {'Data Science', 'ML', 'Statistics', 'NLP', 'AI', 'DL'}
S2 = {"Coffee", "Tea", "Juice"}

S1.update('S2')
print(s1)

{'AI', 'NLP', 'Stistics', 'ML', 'DL', 'Data Science'}

In [15]:
# 8. The set() Constructor

# set() - is used make set


S2 = set(("Coffee", "Tea", "Juice"))

print(S2)

{'Tea', 'Juice', 'Coffee'}

In [16]:
# 9. copy() - used to copy the set.

S1={'Juice', 'Coffee', 'Tea'}

x = S1.copy()
print (x)

{'Tea', 'Juice', 'Coffee'}

In [17]:
# 10. difference() - Return a set that contains the items that only exist in set 1, and not in set 2

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.difference(S2)
print(x)

{'Coffee'}

In [18]:
# 11. difference_update() - removes the items that exist in both sets.

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

S1.difference_update(S2)
print(S1)

{'Coffee'}

In [19]:
# 12. Intersection method 
# a. intersection() - Return a set that contains the items that exist in both sets

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.intersection(S2)
print(x)

{'Tea', 'Juice'}

In [20]:
# b. intersection_update() - Remove the items that is not present in both sets

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

S1.intersection_update(S2)
print(S1)

{'Tea', 'Juice'}

In [21]:
# c. isdisjoint() - Returns whether two sets have a intersection or not.
                # (i.e. Return True if no items in set 1 is present in set 2)

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.isdisjoint(S2)
print(x)    

# -----------------------------------------------------------------

A = {"apple", "banana", "cherry"}
B = {"google", "microsoft", "facebook"}

C = A.isdisjoint(B) 

print(C)

False
True

In [22]:
# 13. issubset() -  returns True if all items in the set exists in the specified set, otherwise it retuns False.
#                   Return True if all items set x are present in set y

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.issubset(S2)
print(x) 


# --------------------------------------

A = {"apple", "banana", "cherry"}
B = {"google","apple","apple", "microsoft", "banana","facebook", "cherry"}

C = A.issubset(B) 

print(C)

False
True

In [23]:
# 14. issuperset() - returns True if all items in the specified set exists in the original set, otherwise it retuns False.
                   # (i.e. Return True if all items set 2 are present in set 1)

A = {"google","apple","apple", "microsoft", "banana","facebook", "cherry"}
B = {"apple", "banana", "cherry"}

C = A.issuperset(B) 

print(C)


# -------------------------------------

S1={'apple', 'banana', 'orange', 'Juice', 'Tea'}
S2={'Juice', 'Coffee', 'Tea'}

x=S1.issuperset(S2)
print(x)

True
False

In [24]:
# 15. symmetric_difference() method

# a. symmetric_difference() - returns a set that contains all items from both set, but not the items that are present in both sets.
#                             (i.e.The returned set contains a mix of items that are not present in both sets.) 

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

x=S1.symmetric_difference(S2)
print(x)    

# -----------------------------------------------------------------

A = {"apple", "banana", "cherry"}
B = {"google", "microsoft", "facebook"}

C = A.symmetric_difference(B) 

print(C)

{'banana', 'apple', 'Coffee', 'orange'}
{'banana', 'facebook', 'apple', 'microsoft', 'google', 'cherry'}

In [25]:
# b. symmetric_difference_update()- updates the original set by removing items that are present in both sets, and inserting the other items.
#                     (i.e. Remove the items that are present in both sets, AND insert the items that is not present in both sets)

S1={'Juice', 'Coffee', 'Tea'}
S2={'apple', 'banana', 'orange', 'Juice', 'Tea'}

S1.symmetric_difference_update(S2)
print(S1)    

# -----------------------------------------------------------------

A = {"apple", "banana", "cherry"}
B = {"google", "banana", "microsoft", "facebook", "apple"}

A.symmetric_difference_update(B) 

print(A)

{'banana', 'apple', 'Coffee', 'orange'}
{'microsoft', 'cherry', 'google', 'facebook'}

__________________

End

________________________